
/* Collapsed navbar - use full screen height */
.navbar-fixed-top .navbar-collapse {
	max-height: none;
}

/* Panel Styles */
.drop-shadow {
    box-shadow: 2px 2px 6px 2px #DDD;
}

body {
	background: #EEE;
}